/* Write your CSS here */
.bg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
.googleLogo {
  height: 100px;
  margin-bottom: 35px;
}
.input-container {
  border: 0px soild;
  box-shadow: 0px 4px 16px 0px #bfbfbf;
  border-radius: 15px;
  width: 400px;
}
.search-icon {
  height: 25px;
  margin-top: 5px;
  margin-left: 5px;
}
.input {
  border: 0px solid;
  outline: none;
  height: 30px;
  margin-bottom: 7px;
}
